<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>majorProject</title>
</head>
<style>
    h1{text-align:center}
    h1{color: rgb(226, 70, 31);}
    h2{text-align:center}
    p.e1{text-align: center;}
    p.e1{font-size: 20px;}
</style>
<body bgcolor="cyan">
<h2>You are feeling...</h2><br>
<h1>{{emotion}}</h1>
<p class="e1" ><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        
    
</p>



</body>
</html>